<%= nested_form_for([@client,@vehiculo], local: true) do |form| %>
  <% if vehiculo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vehiculo.errors.count, "error") %> prohibited this vehiculo from being saved:</h2>

      <ul>
      <% vehiculo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


 <div class="form-group">
    <%= form.label :client_id ,"Ciente"%> <br>
    <%= form.collection_select :client_id, Client.order(:nombre), :id, :nombre_apellido_ruc, {prompt: "Seleccionar un Cliente"},{:class=> "chosen-select form-control  js-example-matcher-start"} %>
  </div>

<div class="row">
  <div class="form-group col">
    <%= form.label :modelo %>
    <%= form.text_field :modelo, class:"form-control" %>
  </div>

  <div class="form-group col">
    <%= form.label :color %>
    <%= form.text_field :color, class:"form-control" %>
  </div>

  <div class="form-group col">
    <%= form.label :matricula %>
    <%= form.text_field :matricula, class:"form-control" %>
  </div>

  <div class="form-group col">
    <%= form.label :marca %>
    <%= form.text_field :marca, class:"form-control" %>
  </div>
</div>

<div class="row">
  <div class="form-group col">
    <%= form.label :km %>
    <%= form.text_field :km, class:"form-control" %>
  </div>

  <div class="form-group col">
    <%= form.label :chasis %>
    <%= form.text_field :chasis, class:"form-control" %>
  </div>

  <div class="form-group col">
    <%= form.label :year_fab,"Año" %>
    <%= form.number_field :year_fab, class:"form-control" %>
  </div>
</div>
  <div class="actions">
    <%= form.submit "Guardar" , class:"form-control btn btn-success" %>
  </div>
<% end %>
