<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @vehiculo.client.nombre %>,
  <%= @vehiculo.client.apellido %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @vehiculo.modelo %>
</p>

<p>
  <strong>Color:</strong>
  <%= @vehiculo.color %>
</p>

<p>
  <strong>Matricula:</strong>
  <%= @vehiculo.matricula %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @vehiculo.marca %>
</p>

<p>
  <strong>Km:</strong>
  <%= @vehiculo.km %>
</p>

<p>
  <strong>Chasis:</strong>
  <%= @vehiculo.chasis %>
</p>

<p>
  <strong>Year fab:</strong>
  <%= @vehiculo.year_fab %>
</p>

<%= link_to 'Edit', edit_client_vehiculo_path(@client,@vehiculo) %> |
<%= link_to 'Back', client_vehiculos_path(@client,@vehiculo) %>
