<%= form_with(model: client, local: true) do |form| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h4>

      <ul>
      <% client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <strong>Datos del Cliente</strong>
    <hr>
<div class="container">
  <div class="row">
  <div class="form-group col">
    <%= form.label :ruc %>
    <%= form.number_field :ruc , class:"form-control"%>
  </div>

  <div class="form-group col">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, class:"form-control" %>
  </div>
</div>
  <div class="row">
  <div class="form-group col">
    <%= form.label :apellido %>
    <%= form.text_field :apellido, class:"form-control" %>
  </div>

  <div class="form-group col">
    <%= form.label :direccion %>
    <%= form.text_field :direccion, class:"form-control" %>
  </div>
</div>

  <div class="row">
  <div class="form-group col">
    <%= form.label :telefono %>
    <%= form.text_field :telefono, class:"form-control" %>
  </div>

  <div class="form-group col">
    <%= form.label :email %>
    <%= form.text_field :email, class:"form-control" %>
  </div>
</div>
<br>
  <div class="actions"><br>
    <%= form.submit "Guardar", class:"form-control btn-success"%>
  </div>
<% end %>
</div>