<p id="notice"><%= notice %></p>

<h3 align="center">Clientes</h3>
<%#= link_to 'Agregar nuevo Vehículo', client_vehiculos_path %>

<table class="table">
  <thead>
    <tr>
      <th>Ruc</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Direccion</th>
      <th>Telefono</th>
      <th>Email</th>
      <th colspan="3"><%= link_to 'Nuevo', new_client_path, class: "btn btn-success" %></th>
    </tr>
  </thead>
<% if @clients.empty? %>
<p style="color: red;">No existe lista de Clientes</p>
<%else%>
  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.ruc %></td>
        <td><%= client.nombre %></td>
        <td><%= client.apellido %></td>
        <td><%= client.direccion %></td>
        <td><%= client.telefono %></td>
        <td><%= client.email %></td>
        <td><%= link_to 'Detalles', client %></td>
        <td><%= link_to 'Editar', edit_client_path(client, @vehiculo) %></td>
        <td><%= link_to 'Eliminar', client, method: :delete, data: { confirm: 'Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
