<p id="notice"><%= notice %></p>
<%= link_to '⬅ Lista de Clientes', clients_path %>
<br><br>
<div class="card">
  <div class="card-header">
<strong>Datos del Cliente</strong>
<hr>
</div>
 <div class="card-body">
<p>
  <strong>Ruc:</strong>
  <%= @client.ruc %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @client.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @client.apellido %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @client.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @client.telefono %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>
</div>

<div class="card">
  <div class="card-header">
<strong>Datos del Vehículos</strong>
<hr>
</div>
 <div class="card-body">
<%= link_to 'Nuevo Vehiculo', new_client_vehiculo_path(@client), class:"btn btn-success" %>
<br><br>
<% if @client.vehiculos.any? %>

<table class="table">
  <thead>
    <tr>
      <th>Modelo</th>
      <th>Color</th>
      <th>Matricula</th>
      <th>Marca</th>
      <th>Km</th>
      <th>Chasis</th>
      <th>Año de fabricación</th>
      <th colspan="2"></th>
    </tr>
  </thead>


  <tbody>
    <% @client.vehiculos.each do |vehiculo| %>
      <tr>
        <td><%= vehiculo.modelo %></td>
        <td><%= vehiculo.color %></td>
        <td><%= vehiculo.matricula %></td>
        <td><%= vehiculo.marca %></td>
        <td><%= vehiculo.km %></td>
        <td><%= vehiculo.chasis %></td>
        <td><%= vehiculo.year_fab %></td>
        <td><%= link_to 'Editar', edit_client_vehiculo_path(@client,vehiculo), class:"btn btn-primary" %></td>
        <td><%= link_to 'Eliminar', client_vehiculo_path(@client,vehiculo), method: :delete, data: { confirm: 'Estás seguro?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <p>No hay vehículo</p>
<% end %>
</div>