<strong>Datos del Cliente</strong>
<hr>

<p>
  <strong>Ruc:</strong>
  <%= @client.ruc %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @client.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @client.apellido %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @client.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @client.telefono %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<strong>Datos del Vehículos</strong>
<hr>

<p id="notice"><%= notice %></p>
<%= link_to 'New Vehiculo', new_client_vehiculo_path(@client) %>

<% if @client.vehiculos.any? %>

<table>
  <thead>
    <tr>
      <th>Client</th>
      <th>Modelo</th>
      <th>Color</th>
      <th>Matricula</th>
      <th>Marca</th>
      <th>Km</th>
      <th>Chasis</th>
      <th>Year fab</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
    <% @client.vehiculos.each do |vehiculo| %>
      <tr>
        <td><%= vehiculo.modelo %></td>
        <td><%= vehiculo.color %></td>
        <td><%= vehiculo.matricula %></td>
        <td><%= vehiculo.marca %></td>
        <td><%= vehiculo.km %></td>
        <td><%= vehiculo.chasis %></td>
        <td><%= vehiculo.year_fab %></td>
        <td><%= link_to 'Editar', edit_client_vehiculo_path(@client,vehiculo) %></td>
        <td><%= link_to 'Destroy', client_vehiculo_path(@client,vehiculo), method: :delete, data: { confirm: 'Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <p>No hay vehículo</p>
<% end %>
<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
