<p id="notice"><%= notice %></p>

<h3 align="center">Proveedores</h3>

<table class="table_id table">
  <thead>
    <tr>
      <th>Ruc</th>
      <th>Nombre</th>
      <th>Dirección</th>
      <th>Telefono</th>
      <th>Email</th>
      <th colspan="2">
      <%= link_to 'Nuevo', new_proveedor_path, class:"btn btn-success" %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @proveedors.each do |proveedor| %>
      <tr>
        <td><%= proveedor.ruc %></td>
        <td><%= proveedor.nombre %></td>
        <td><%= proveedor.direccion %></td>
        <td><%= proveedor.telefono %></td>
        <td><%= proveedor.email %></td>
        <td><%#= link_to 'Detalles', proveedor %></td>
        <td><%= link_to 'Editar', edit_proveedor_path(proveedor) %></td>
        <td><%= link_to 'Eliminar', proveedor, method: :delete, data: { confirm: 'Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

