<p id="notice"><%= notice %></p>

<h3 align="center">Tipo Facturas</h3>

<table class="table">
  <thead>
    <tr>
      <th>Descripción</th>
      <th colspan="2">
    <%= link_to 'Nuevo', new_tipo_factura_path, class: "btn btn-success" %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @tipo_facturas.each do |tipo_factura| %>
      <tr>
        <td><%= tipo_factura.descripcion %></td>
        <td><%= link_to 'Editar', edit_tipo_factura_path(tipo_factura) %></td>
        <td><%= link_to 'Eliminar', tipo_factura, method: :delete, data: { confirm: 'Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>