<p id="notice"><%= notice %></p>

<h1>Compras</h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Proveedor</th>
      <th>Num fact</th>
      <th>Total</th>
      <th>Pago</th>
      <th>Saldo</th>
      <th>Tipo factura</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @compras.each do |compra| %>
      <tr>
        <td><%= compra.fecha %></td>
        <td><%= compra.proveedor.nombre %></td>
        <td><%= compra.num_fact %></td>
        <td><%= compra.total %></td>
        <td><%= compra.pago %></td>
        <td><%= compra.saldo %></td>
        <td><%= compra.tipo_factura.descripcion %></td>
        <td><%= link_to 'Show', compra %></td>
        <td><%= link_to 'Edit', edit_compra_path(compra) %></td>
        <td><%= link_to 'Destroy', compra, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Compra', new_compra_path %>
