<%= form_with(model: repuesto_servicio, local: true) do |form| %>
  <% if repuesto_servicio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(repuesto_servicio.errors.count, "error") %> prohibited this repuesto_servicio from being saved:</h2>

      <ul>
      <% repuesto_servicio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="form-group col">
    <%= form.label :codigo, "Código" %>
    <%= form.text_field :codigo,class:"form-control" %>
  </div>

  <div class="form-group col">
    <%= form.label :descripcion, "Descripción"  %>
    <%= form.text_field :descripcion,class:"form-control" %>
  </div>
</div>
<div class="row">
  <div class="form-group col">
    <%= form.label :stock %>
    <%= form.number_field :stock,class:"form-control",disabled: true %>
  </div>

  <div class="form-group col">
    <%= form.label :costo %>
    <%= form.text_field :costo ,class:"form-control"%>
  </div>

  <div class="form-group col">
    <%= form.label :precio_venta %>
    <%= form.text_field :precio_venta,class:"form-control" %>
  </div>

  <div class="form-group col">
    <%= form.label :category_id, "Categoria"  %><br>
    <%= form.collection_select(:category_id, Category.all, :id, :descripcion)%>
  </div>
</div>
  <div class="actions">
    <%= form.submit "Guardar",class:"form-control btn btn-success"%>
  </div>
<% end %>
