<p id="notice"><%= notice %></p>

<h3 align="center">Repuesto Servicios</h3>

<table class="table">
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Descripcion</th>
      <th>Stock</th>
      <th>Costo</th>
      <th>Precio venta</th>
      <th>Categoria</th>
      <th colspan="2"><%= link_to 'Nuevo', new_repuesto_servicio_path, class:"btn btn-success" %></th>
    </tr>
  </thead>

<% if @repuesto_servicios.empty? %>
<p style="color: red;">No existe lista de Artículos</p>
<%else%>
  <tbody>
    <% @repuesto_servicios.each do |repuesto_servicio| %>
      <tr>
        <td><%= repuesto_servicio.codigo %></td>
        <td><%= repuesto_servicio.descripcion %></td>
        <td><%= repuesto_servicio.stock %></td>
        <td><%= repuesto_servicio.costo %></td>
        <td><%= repuesto_servicio.precio_venta %></td>
        <td><%= repuesto_servicio.category.descripcion %></td>
        <td><%= link_to 'Editar', edit_repuesto_servicio_path(repuesto_servicio) %></td>
        <td><%= link_to 'Eliminar', repuesto_servicio, method: :delete, data: { confirm: 'Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

